.header-wrapper {
  background-color: #14162e;
  width: 100%;
}
.footer {
  background-color: #14162e;
  width: 100%;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}

.icon-circle:hover{
  background-color: rgba(255, 255, 255, 0.5) !important;
  z-index: 2; 
  cursor: pointer; 
}
.icon-2 {
  background-color: #01b89a;
}
.icon-3 {
  background-color: #fff;
}
.icon-1{
  
  background-color: #6f2dff;
}

.items {
  font-family: "Dosis", sans-serif;
}

.btn {
  background-color: #01e4bf !important;
  color: #fff !important;
  border: none !important;
}
.modal {
  font-family: "Dosis", sans-serif;
}
.bg-dark {
  background-image: url("images/bg-dark.png");
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover 100%;
}

.header-container h1 {
  font-family: "Russo One", sans-serif;
}
.page-title {
  color: #01e4bf;
  font-family: "Bungee Inline", cursive;
  font-weight: 500;
  font-size: 6rem;
  text-align: center;
}

.header-home {
  color: #ffffff;
  text-align: center;
  background-image: url("images/bg-home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.header-home h1 {
  font-family: "Bungee Inline", cursive;
  font-size: 3rem;
  line-height: 6rem;
  font-weight: 500;
}
.header-home h1 > span {
  color: #01b89a;
  font-size: 5.5rem;
  line-height: 7rem;
}
.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #01b89a,
      0 0 40px #01b89a, 0 0 50px #01b89a, 0 0 60px #01b89a, 0 0 70px #01b89a;
  }
  to {
    text-shadow: 0 0 13px #fff, 0 0 23px #01e4bf, 0 0 43px #01e4bf,
      0 0 50px #01e4bf, 0 0 60px #01e4bf, 0 0 63px #01e4bf, 0 0 73px #01e4bf;
  }
}
.header-home p {
  font-family: "Dosis", sans-serif;
  color: #fff;
  font-size: 1.4rem;
  line-height: 180%;
}
.header-home p > span {
  color: #01e4bf;
  font-weight: 600;
}
.astro {
  aspect-ratio: 1 / 1;
  animation: 4s linear 0s infinite alternate rise;
}
@keyframes rise {
  from {
    /* pushes the sun down past the viewport */
    transform: translateY(20vh);
  }
  to {
    /* returns the sun to its default position */
    transform: translateY(0);
  }
}
.filter {
  font-family: "Dosis", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  width: 20%;
  line-height: 1.3rem;
}
.dropdown {
  color: #00243f;
  background-color: #fff;
  font-size: 1rem;
}
.header-home Button {
  font-size: 1.3rem;
  margin: 2px;
}
.btn2 {
  background-color: #fff !important;
  color: #01b89a !important;
}

Button:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
body {
  margin: 0;
  padding: 0;
}

/* createitem */
.create-item Form {
  color: #fff;
  width: 300px;
}
